@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
header {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 1em;
}
footer {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
    margin-top: 2em;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
section {
    width: 50%;
}
.open-hours {
    margin: right;
    border: 2em;
}
.map {
   margin-left: auto;
   grid-row: 1;
}
input {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
img {
    grid-column: 2;
    max-width: 250px;
    max-height: 250px;
}
.book-header {
    margin-left: 0;
    text-align: center;
}
main h1 {
    margin: auto;
}
.address {
    margin: auto;
}
.button {
    text-align: center;
}
  