@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
header {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
    margin: 1em;
}
footer {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    display: grid;
    grid-template-columns: repeat(3, 1em);
}
h2 {
    
}
#open-hours {
    grid-column: 1/2; 
    width: 800px;
    border: 2em;
}
.map {
    grid-row: 1;
    grid-column: 2;
}
input {
    display: table;
    font-size: .75em;
}
#form {
    grid-column: 3/4;
    box-sizing: border-box;
    font-size: 16px;
}
img {
    grid-column: 2;
    max-width: 250px;
    max-height: 250px;
}
.book-header {
    box-sizing: border-box;   
}
.book-info {
    grid-column:3;
    box-sizing: border-box;
    margin-left: auto;
}
main h1 {
    text-align: center;
    margin: 0;
    width: 800px;
    border: 2em;
    padding: 8px;
}
.address {
    text-align: center;
    margin: 1px;
    width: 800px;
    border: 2em;
    padding: 8px;
}